/**{outline: 1px solid black;}*/


.bar{
  display: flex;
  border-bottom: 1px solid rgb(238, 238, 238);
  height: 40px;
  justify-content: center;
}

.app{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-size: 13px;
  color: rgb(102, 102, 102);
  padding: 0px 15px;
  position: relative;
  line-height: 1.4;
}

.appNotify{
  display: flex;
  flex-shrink: 0;
}

.login{
  display: flex;
  flex-shrink: 0;
}

.login-join{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-size: 13px;
  color: rgb(102, 102, 102);
  padding: 0px 15px;
  position: relative;
  line-height: 1.4;
}

.myShop{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-size: 13px;
  color: rgb(102, 102, 102);
  padding: 0px 15px;
  position: relative;
  line-height: 1.4;
}

button,input{
  background-color: transparent;
  cursor: pointer;
  outline: none;
  appearance: none;
  border: 0px;
}

.notifyButton{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-size: 13px;
  color: rgb(102, 102, 102);
  padding: 0px 15px;
  position: relative;
  line-height: 1.4;
}

.bar1{
  display: flex;
  width: 1024px;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.top-bar{
  position: sticky;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 35px;
  background: rgb(255, 255, 255);
  z-index: 10;
  border-bottom: 1px solid rgb(238, 238, 238);
  top: 0px;
  left: 0px;
}

.inner-bar0{
  display: flex;
  flex-direction: column;
  width: 1024;
}

.inner-bar1{
  display: flex;
  align-items: center;
  width: 1024px;
  height: 40px;
  
}

.inner-bar2{
  display: flex;
  align-items: center;
  width: 1024px;
  height: 70px;
}

.search-box{
  border: 2px solid red;
  box-sizing: border-box;
  width: 460px;
  height: 40px;
  padding: 0px 15px;
  align-items: center;

}

.search{
  display: flex;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  align-items: center;
  -webkit-box-align: center;
}

.input-box{
  flex-grow: 1;
}

.logo{
  width: 136px;
  align-items: center;
  margin-right: 100px;
  display: flex;
}

.rightSide{
  display: flex;
  flex-direction: row-reverse;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  flex-grow: 1;
}

.rButton{
  margin-left: 30px;
  display: flex;
  -webkit-box-align: center;
  text-decoration: none;
  align-items: center;
  position: relative;
}

.lbButton{
  margin-right: 20px;
  position: relative;
}

.lbStyle{
  display: flex;
  align-items: center;
  gap: 4px;
  text-decoration: none;
}

.style2{
  display: flex;
  -webkit-box-align: baseline;
  align-items: baseline;
  margin-left: 10px;
  line-height: 1.5;
  height: 21px;
  box-sizing: border-box;
  border-bottom: 1px solid transparent;
  color: rgb(33, 33, 33);
  text-decoration: none;
  cursor: pointer;
}

.rsSupport{
  position: absolute;
  top: 102px;
  right: calc(50% - 617px);
  z-index: 20;
}

.rsSupport1{
  padding: 10px;
  width: 100%;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  margin-bottom: 6px;
}

.rsSupport1-1{
  font-size: 12px;
  font-weight: 600;
  color: rgb(102, 102, 102);
  text-align: center;
  margin-bottom: 8px;
}

.rsSupport1-2{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 40px;
  width: 100%;
  font-weight: 600;
  font-size: 13px;
  color: rgb(102, 102, 102);
}

/*여기까지 네비게이션 바 관련 css*/

.mainGround{
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background-color: white;
}

.adv-section1{
  position: relative;
  max-width: 1024px;
  margin: 0px auto;
  background: white;
}

.adv-section1-slider{
  position: relative;
  display: block;
  box-sizing: border-box;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  
}

.adv-section2{
  position: relative;
  margin: 16px auto 0px;
  max-width: 1024px;
  height: 200px;
}

.adv2-img{
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
}

.main-section{
  width: 1024px;
  margin: auto;
  padding: 3.5rem 0px 1.5rem;
}

.main-merch{
  position: relative;
  overflow: hidden;
}

.merch-view{
  display: flex;
  flex-wrap: wrap;
}

.merch-backGround{
  width: 196px;
  margin-right: 11px;
  margin-bottom: 11px;
  border: 1px solid red;
}

.merch-each{
  border: 1px solid rgb(238, 238, 238);
  background: rgb(255, 255, 255);
  display: block
}

.merch-img{
  position: relative;
  width: 100%;
  height: 194px;
}

.merch-text{
  padding: 15px 10px;
  height: 80px;
}

.pay-position{
  position: absolute;
  left: 10px;
  bottom: 10px;
  display: flex;
  gap: 5px;
}

.context{
  position: relative;
  font-size: 14px;
  padding-bottom: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.price{
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  height: 20px;
}

.cost{
  font-size: 16px;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.time{
  font-size: 12px;
  color: rgb(136, 136, 136);
}

.offset{
  position: absolute;
  left: 0px;
  bottom: 600px;
  width: 100%;
  height: 1px;
  visibility: hidden;
}

/*본문 css*/

.bmenu{
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  background: rgb(255, 255, 255);
}

.bmenu1{
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  border-top: 1px solid rgb(229, 229, 229);
  border-bottom: 1px solid rgb(229, 229, 229);
}
.bmenu2{
  padding: 40px 0px 45px;
}

.bmenu3{
  height: 65px;
  width: 1024px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.bmenu4{
  width: 1024px;
  display: flex;
}

.bmenu5{
  border-top: 1px solid rgb(229, 229, 229);
  margin-top: 2.5rem;
  padding-top: 1rem;
  width: 1024px;
  display: flex;
  line-height: 1.5;
  font-size: 11px;
}

.bmenu-margin{
  padding: 0px 25px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 13px;
  color: rgb(51, 51, 51);
}

.bmenu-info{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 50px;
}

.bmenu-Title{
  font-weight: bold;
  font-size: 14px;
  color: rgb(102, 102, 102);
}

.bmenu-info-ist{
  margin-top: 0.5rem;
  line-height: 2;
  font-size: 12px;
  color: rgb(127, 127, 127);
}

.bmenu-location{
  display: flex;
  flex-direction: column;
}

.bmenu-foot{
  display: flex;
  color: rgb(153, 153, 153);
}

.bmenu-under{
  white-space: nowrap;
  text-decoration: none;
  color: rgb(127, 127, 127);
}
/*하단 표시*/

/*내 상점 본문 관련 class*/

.main-container{
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  background: rgb(255, 255, 255);
}

.subMain-container{
  width: 1024px;
  margin-top: 30px;
}

.profile-block{
  display: flex;
  width: 100%;
}

.profile-image{
  width: 310px;
  height: 310px;
  position: relative;
  color: rgb(255, 255, 255);
}

.profile{
  flex: 1 0 0%;
  padding: 0px 30px;
  border-top: 1px solid rgb(238, 238, 238);
  border-right: 1px solid rgb(238, 238, 238);
  border-bottom: 1px solid rgb(238, 238, 238);
  display: flex;
  height: 310px;
  flex-direction: column;
}

.profile-font{
  font-size: 18px;
  height: 75px;
  font-weight: 600;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-shrink: 0;
}

.profile-font1{
  height: 45px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  border-top: 1px solid rgb(250, 250, 250);
  border-bottom: 1px solid rgb(250, 250, 250);
  margin-bottom: 20px;
  flex-shrink: 0;
}

.profile-font2{
  -webkit-box-flex: 1;
  flex-grow: 1;
  width: 100%;
  overflow-y: auto;
  line-height: 1.57;
  white-space: pre-wrap;
}

.profile-font3{
  height: 56px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-shrink: 0;
}

.profile-font-name{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.profile-serfi{
  font-size: 11px;
  color: rgb(77, 77, 77);
  position: relative;
}

.shop-info{
  margin-right: 30px;
  font-size: 13px;
  color: rgb(136, 136, 136);
  display: flex;

}

.shop-info-inner{
  margin-left: 5px;
  color: rgb(33, 33, 33);
}

.intro_modi{
  display: flex;
  height: 20px;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px 5px;
  color: rgb(136, 136, 136);
  border: 1px solid rgb(238, 238, 238);
  font-size: 11px;
}

.intro-merch{
  display: flex;
  height: 50px;
}

.intro-merch-inner{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  text-decoration: none;
  justify-content: center;
  border-top: 1px solid rgb(33, 33, 33);
  border-right: 1px solid rgb(33, 33, 33);
  border-bottom: 1px solid rgb(255, 255, 255);
  background: rgb(255, 255, 255);
  flex: 1 1 0%;
}

.merch-info{
  display: flex;
  font-size: 18px;
  border-bottom: 1px solid rgb(238, 238, 238);
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 50px 0px 20px;
}

.merch-margin{
  width: 100%;
  display: flex;  
  -webkit-box-pack: center;
  justify-content: center;
  margin: 40px 0px 100px;
}

/*판매하기 페이지 관련 class 정리*/
.sell-base{
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  background: white;
}

.sell-bar{
  display: flex;
  align-items: center;
  padding: 30px 0px 20px;
  height: 78px;
  border-bottom: 1px solid black;
  justify-content: space-between;
}

.sell-category{
  display: flex;
  align-items: center;
}

.cate-home{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 28px;
  font-size: 12px;
}

.cate-home-select{
  border: 1px solid rgb(238, 238, 238);
  display: flex;
  width: 100%;
  height: 28px;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  font-size: 12px;
  color: rgb(77, 77, 77);
  background: rgb(255, 255, 255);
}

.cate-select{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px 25px 0px 10px;
  position: relative;
  width: 100%;
}

.main-section{
  display: flex;
  padding: 30px 0px;
}

.main-margin{
  height: 50px;
  border-bottom: 1px solid rgb(33, 33, 33);
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
}

.main-img{
  margin-right: 40px;
  flex-shrink: 0;
  width: 430px;
  height: 430px;
}

.main-img-merch{
  border: 1px solid rgb(238, 238, 238);
  position: relative;
  width: 100%;
  height: 100%;
}

/*슬라이드 베너 관련 class*/

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*로그인 창 관련*/
.login-background{ /*로그인 전체 페이지 배경설정*/
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.login-page{/*로그인 블럭 화면 설정*/
  display: none;
  background: rgb(247, 247, 247);
  width: 420px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 50px 0px;
  position: relative;
  margin: 0 auto;
}

.login-page-close{/*로그인 화면 창 취소*/
  position: absolute;
  top: 20px;
  right: 20px;
}

.login-logo{/*로그인 화면 로고*/
  display: block;
  margin: auto auto 10px;
}

.login-description1{ /*로그인 화면 설명1*/
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 15px;
  text-align: center;
  font-weight: bold;
}

.login-description2{/*로그인 화면 설명2*/
  line-height: 1.5;
  margin-bottom: 35px;
  text-align: center;
}

.login-body{/*로그인 화면 바디부분*/
  padding: 0px 70px;
}

.login-footer{/*로그인 화면 footer부분*/

  padding: 3.5rem 2rem 1.5rem;
  font-size: 12px;
  line-height: 1.5;
  color: rgb(153, 153, 153);
}

.footer-email{
  color: rgb(153, 153, 153);
}

.login-body-content{/*로그인 내용관련 스타일*/
  width: 100%;
  height: 38px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 7px 0px;
  background: rgb(255, 255, 255);
  text-align: center;
  border-radius: 4px;
  margin-bottom: 12px;
  position: relative;
}

.login-body-link{/*본인인증 링크 관련*/
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  height: 38px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 7px 0px;
  background: rgb(255, 255, 255);
  text-align: center;
  border-radius: 4px;
  margin-bottom: 12px;
  position: relative;
  text-decoration: none;
  color: #000;
}

.login-sertification{/*로그인 본인인증 관련*/
  position: absolute;
  top: calc(50% - 12px);
  left: 35px;
  width: 24px;
  height: 24px;
  background-size: cover;
  background-repeat: no-repeat;
}

.sertification{/*본인인증 선택지*/
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICAgIDxwYXRoIGZpbGw9IiM5Qjk5QTkiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTEzLjYgMGMuNDQyIDAgLjguMzU4LjguOHYxNC40YzAgLjQ0Mi0uMzU4LjgtLjguOEgyLjRjLS40NDIgMC0uOC0uMzU4LS44LS44Vi44YzAtLjQ0Mi4zNTgtLjguOC0uOGgxMS4yek0zLjIgMTQuNFYxLjZoOS42djEyLjhIMy4yek02LjQgNGMwLS40NDIuMzU4LS44LjgtLjhoMS42Yy40NDIgMCAuOC4zNTguOC44IDAgLjQ0Mi0uMzU4LjgtLjguOEg3LjJjLS40NDIgMC0uOC0uMzU4LS44LS44em0yLjQgOGMwIC40NDItLjM1OC44LS44LjgtLjQ0MiAwLS44LS4zNTgtLjgtLjggMC0uNDQyLjM1OC0uOC44LS44LjQ0MiAwIC44LjM1OC44Ljh6Ii8+Cjwvc3ZnPgo=);
  background-size: 1rem 1rem;
  background-position: center center;
  
}

.login-type{/*로그인 방식 스타일*/
  position: absolute;
  top: calc(50% - 12px);
  left: 35px;
  width: 24px;
  height: 24px;
  background-size: cover;
  background-repeat: no-repeat;
}

.kakao{/*카카오*/
  background-image: url(https://m.bunjang.co.kr/pc-static/resource/7bf83f72cf54461af573.png);
}


.naver{/*네이버*/
  background-image: url(https://m.bunjang.co.kr/pc-static/resource/46a186687d81b27fc2c9.png);
}

.facebook{/*페이스북*/
  background-image: url(https://m.bunjang.co.kr/pc-static/resource/fc95a45c5428930755c1.png);
}